@tailwind base;
@tailwind components;
@tailwind utilities;





/*gradient*/
@layer utilities {
    .grd {
        background: linear-gradient(205deg, #ffa9a9,  #18181b,  #18181b, #18181b, #020617, #030712);
        background-size: 125% 125%;
        
        -webkit-animation: gradientBG 5s ease infinite forwards;
        animation: gradientBG 5s ease infinite forwards;
        
    }

    @-webkit-keyframes gradientBG {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      @keyframes gradientBG {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

   
  }


/*log in gradient 

background: radial-gradient(circle at 50% 50%, #de0a9b, #00d274, #1e293b, #374151);
*/

@layer utilities {
    .clip-irregular {
        clip-path: polygon(25% 0%, 100% 2%, 75% 90%, 0% 90%);
    }

    .bg-radial-irregular {
        background:  linear-gradient(180deg, #c8d6d2, #91fdff, #ffffff,  #fff53d, #ffffff,  #e700db);
        filter: blur(1px);
    }

    /*eth card */

    .white-glassmorphism {
      background: rgba(255, 255, 255, 0.05);
     
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      
    }

    .eth-card {
      background-color:#a099ff;
      background-image: 
        radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
        radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
        radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
        radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
        radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
        radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
        radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
    }

    .eth-card-mint {
      background-color:#ffffff;
      background-image: 
        radial-gradient(at 83% 67%, rgb(252, 254, 252) 0, transparent 78%), 
        radial-gradient(at 67% 20%, rgb(243, 242, 242) 0, transparent 99%), 
        radial-gradient(at 88% 35%, rgb(230, 238, 255) 0, transparent 90%), 
        radial-gradient(at 31% 91%, rgb(223, 221, 221) 0, transparent 82%), 
        radial-gradient(at 7% 13%, rgb(255, 225, 237) 0, transparent 99%), 
        radial-gradient(at 74% 89%, rgb(255, 254, 254) 0, transparent 81%), 
        radial-gradient(at 53% 75%, rgb(248, 251, 251) 0, transparent 95%);
    }

    .eth-card-mintdark {
      background-color:#ffffff;
      background-image: 
      radial-gradient(at 83% 67%, rgb(252, 254, 252) 0, transparent 78%), 
      radial-gradient(at 67% 20%, rgb(243, 242, 242) 0, transparent 99%), 
      radial-gradient(at 88% 35%, rgb(255, 255, 255) 0, transparent 90%), 
      radial-gradient(at 31% 91%, rgb(223, 221, 221) 0, transparent 82%), 
      radial-gradient(at 7% 13%, rgb(255, 225, 237) 0, transparent 99%), 
      radial-gradient(at 74% 89%, rgb(255, 254, 254) 0, transparent 81%), 
      radial-gradient(at 53% 75%, rgb(248, 251, 251) 0, transparent 95%);
    }

    .eth-card-light {
      background-color:#2dd4bf;
      background-image: 
        radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
        radial-gradient(at 67% 20%, rgb(233, 233, 233) 0, transparent 59%), 
        radial-gradient(at 28% 25%, rgb(121, 164, 255) 0, transparent 50%), 
        radial-gradient(at 31% 91%, rgb(255, 199, 199) 0, transparent 52%), 
        radial-gradient(at 27% 71%, rgb(200, 236, 255) 0, transparent 49%), 
        radial-gradient(at 74% 89%, rgb(255, 252, 194) 0, transparent 51%), 
        radial-gradient(at 53% 75%, rgb(223, 0, 239) 0, transparent 45%);
    }
}
  


.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 18px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2dd4bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2dd4bf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




